* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Staatliches', cursive;
}

body::-webkit-scrollbar, p::-webkit-scrollbar {
    width: .4em;
}

body::-webkit-scrollbar-track, p::-webkit-scrollbar-track {
    background-color: #171A1D;
}

body::-webkit-scrollbar-thumb {
    background-color: #97BFD3;
    border-radius: .6rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    outline: none;
}

img {
    display: block;
}

.wrap {
    width: 100%;
    
    position: absolute;
}

.main-about {
    animation: rotatemain .6s ease-out forwards;
    transform-origin: bottom;
}

@keyframes rotatemain {
    0% {
        opacity: 0;
        transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.logo {
    position: absolute;
    top: 1.3rem;
    left: 1.4rem;
    font-size: 4rem;

    z-index: 3;

    transition: transform .3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.logo--blue {
    color: #3f3fb3;
}

.logo-f-container {
    position: relative;
}

.logo--white {
    color: white;
    position: absolute;
    top: 10px;
}

#main-container, #main-container-projects {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #22262A;
}

#main-container {
    align-items: center;
}

#main-container main {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

#my-name {
    color: white;
    font-size: 6rem;
}

.first-line, .second-line {
    color: #94a4b4;
    font-size: 1.9rem;
}

.inline-word-container {
    display: inline-block;
}

.inline-word {
    display: inline-block;
    height: 1.9rem;

    overflow: hidden;
}

.inline-word > div {
    transition: transform .5s;
}

.inline-word__bottom {
    color: #5B6570;
}

.inline-word-container--active .inline-word > div {
    transform: translateY(-100%);
}

#project-button-container {
    margin: auto;
    margin-top: 4.5rem;

    height: 2.84rem;
    overflow: hidden;

    display: inline-block;
}

#project-button-container:hover .project-button > button {
    transform: translateY(-3.2rem);
}

.project-button > button {
    transition: transform .15s;
}
.project-button {
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.project-button button:hover {
    cursor: pointer;
}

.project-button__top, .project-button__bottom {
    padding: .45rem .5rem;

    background-color: #22262A;
    color: white;
    border: 0.18rem solid white;
    font-size: 1.18rem;
}

.project-button__bottom {
    color: black;
    background-color: white;

    margin-top: .5rem;
}

footer {
    height: 6rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #343a41;
    background-color: #171A1D;
}

footer * {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
}

.footer-contact {
    color: #94a4b4;
}

.footer-contact span {
    color: white;
    margin-left: .1rem;
}

.nav-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.left-nav {
    height: 100vh;

    margin-left: -4.5rem;
    position: fixed;
    display: flex;
    align-items: center;
}

.left-nav li a {
    width: 8rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 1rem;

    color: white;

    transition: transform 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left-nav li a span {
    font-size: 1.1rem;

    text-align: right;
} 

.left-nav li a i {
    font-size: 1.6rem;

    margin-left: 1rem;
} 

.left-nav li:hover > a {
    transform: translateX(45%);
}

.left-nav__github {
    background-color: #333333;
}

.left-nav__email {
    background-color: #6FC2B0;
}

.left-nav__cv {
    background-color: #0077B5;
}

.left-nav li .left-nav__cv i {
    margin-right: .3rem;
}

.hamburger-button-container  {
    margin: 2.5rem;

    position: fixed;
    right: 0;

    z-index: 10;
}

.hamburger-button-container:hover {
    cursor: pointer;
}

.hamburger-button-container:hover .hamburger-button:not(.hamburger-button--active) .hamburger-button__line::before {
    transition: transform .2s;
    transform: translateY(-1.2rem);
    
}

.hamburger-button-container:hover .hamburger-button:not(.hamburger-button--active) .hamburger-button__line::after {
    transition: transform .2s;
    transform: translateY(1.2rem);
}

.hamburger-button {
    width: 3.8rem;
    height: 2rem;
    position: relative;

    display: flex;
    align-items: center;
}

.hamburger-button__line {
    height: .1rem;
    width: 100%;

    background-color: #94a4b4;
    
    transition: all .4s ease-in-out;
}

.hamburger-button__line::before,
.hamburger-button__line::after  {
    content: '';
    position: absolute;

    height: .1rem;
    width: 100%;

    background-color: #94a4b4;

    transition: all .4s ease-in-out;
}

.hamburger-button__line::before {
    transform: translateY(-.8rem);
}

.hamburger-button__line::after {
    transform: translateY(.8rem);
}

.hamburger-button--active .hamburger-button__line {
    transform: translateX(-3rem);
    background-color: transparent;
}

.hamburger-button--active .hamburger-button__line::before {
    transform: rotate(45deg) translate(2rem, -2rem);
    background-color: white;
}

.hamburger-button--active .hamburger-button__line::after {
    transform: rotate(-45deg) translate(2rem, 2rem);
    background-color: white;
}

/* .hamburger-button-container:hover .hamburger-button--active .hamburger-button__line::before {
    transition: all .1s;
    transform: rotate(45deg) translate(2rem, -2rem) scale(1.3, 1.6);
}

.hamburger-button-container:hover .hamburger-button--active .hamburger-button__line::after {
    transition: all .1s;
    transform: rotate(-45deg) translate(2rem, 2rem) scale(1.3, 1.6);
} */

.middle-nav-container {
    position: fixed;
    width: 100%;
    height: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1;
    background-color: #343A41;

    transition: all .3s ease-out;
    transform-origin: top;
    overflow: hidden;
}

.middle-nav-container--active {
    height: 100%;

    z-index: 9;
}

.middle-nav {
    width: 60rem;

    margin: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.middle-nav a {
    padding: 1.5rem 0;
    position: relative;

    color: white;
    font-size: 2rem;   
    background-color: #31363b;
    z-index: 2;
}

.middle-nav a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;
    background-color: #252A2E;

    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);
    transform: scaleX(0);
}

.middle-nav a:hover::before {
   transform: scaleX(1);
}

/* PROJECTS.PHP */

#main-projects > h2,
#main-projects > p {
    animation: projects-top .5s ease forwards;
}

@keyframes projects-top {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.individual-project {
    opacity: 0;
}

.projects__row .individual-project:first-child,
.projects > h3 {
    animation: projects-left .4s ease forwards .5s;
}

@keyframes projects-left {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.projects__row .individual-project:nth-child(2) {
    animation: projects-right .4s ease forwards .5s;
}

@keyframes projects-right {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.projects > h3 {
    margin-bottom: .5rem;

    color: white;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    opacity: 0;
}

.projects > h3:first-child {
    margin-top: 2rem;
}

#main-container-projects main {
    padding: 7rem 4rem;
}

#main-container-projects main > h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 2.5rem;

    letter-spacing: .1rem;
}

#main-container-projects main p {
    font-family: "Inconsolata", sans-serif;
    color: #94a4b4;
}

.projects__row {
    display: flex;
    margin-bottom: 2rem;
}

.projects__row .individual-project:first-child {
    margin-right: 2rem;
}

.individual-project {
    width: 30rem;

    position: relative;
    overflow: hidden;

    display: inline-block;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
}

.api {
    position: relative;
    width: 100%;
    padding-top: 59.3%;
    
    color: gray;
}

.single-api {
    position: relative;
    width: 30rem;

    padding-top: 59.3%;
}

.api h1 {
    transition: .3s ease;
    transform: scale(1);
}

.api h1, .single-api h1 {
    padding: 0 1rem;

    position: absolute;
    right: 0;
    left: 0;
    top: 40%;

    text-align: center;
    color: gray;
}

.individual-project img {
    width: 30rem;

    transition: .3s ease;
}

.individual-project:hover #button-container {
    display: flex;
}   

.individual-project:hover .img-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: radial-gradient(transparent,rgba(0,0,0,.5));
}

.individual-project:hover img, 
.individual-project:hover .api h1 {
    transform: scale(1.05);
}

#button-container {
    width: 100%;
    
    position: absolute;
    bottom: 1rem;

    display: none;
    justify-content: center;
}

.individual-project button {
    padding: .3rem 1rem;

    font-size: 1.1rem;
    font-family: "Staatliches" ,sans-serif;

    background-color: #D1D1D1;

    border-radius: .2rem;
    border: 1px solid transparent;
    letter-spacing: .07rem;
    z-index: 2;

    transition: background-color .3s ease;
}

#button-container button:hover {
    cursor: pointer;
    background-color: white;
}

.individual-project i {
    margin-right: .4rem;
}

.single-container-animetorrents,
.single-container-portfolio,
.single-container-userApi {
    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;

    background-color: rgba(0,0,0,.3);
    z-index: 2;

    transition: .3s ease-in;
    opacity: 0;
    visibility: collapse;
}

.single-container-animetorrents--active,
.single-container-porfolio--active,
.single-container-userApi--active {
    opacity: 1;
    visibility: visible;
}

.single-project  {
    display: flex;

    background-color: #343a41;
    box-shadow: 0 0 5px #000;
    	
    transition: opacity 300ms ease-out;
    opacity: 0;
    transform: scale(1); 
}


.single-container-animetorrents--active .single-project,
.single-container-porfolio--active .single-project,
.single-container-userApi--active .single-project {
    opacity: 1;

    animation: scale-single 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes scale-single {
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}

.single-project img {
    width: 55rem;
}

.single-project__info {
    width: 25rem;

    padding: 1rem;

    position: relative;
}

.info {
    width: 100%;
    color: #94a4b4;
}

.info .fa-times {
    position: absolute;
    right: 1rem;
    top: 1rem;

    font-size: 2rem;
    color: #94A4B4;

    transition: all .2s ease;
}

.info .fa-times:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.info__description {
    margin: 1.3rem 0 1rem;
}

.info h3, .info__description{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: .1rem;
    color: #94a4b4;
}

.info h2 {
    margin-bottom: .3rem;

    font-size: 2rem;
    font-weight: 100;
    color: white;
}

.info span {
    padding: .2rem .4rem;
    margin: .2rem;

    display: inline-block;
    border: .01rem solid #22262a;
    letter-spacing: .04rem;
}

.info p {
    font-size: 1rem;
    line-height: 1.3;

    max-height: 17rem;
    overflow-y: scroll;
    white-space: pre-line;
}

p::-webkit-scrollbar-thumb {
    background-color: #97BFD3;
    border-radius: .6rem;
}

.info__btn {
    padding: .3rem .7rem;
    margin-top: 1rem;

    display: inline-block;
    
    color: black;
    background-color: #D6D8D9;
    border-radius: .2rem;
}

.info__btn:hover {
    background-color: white;
}

@media only screen and (min-width: 2400px)
{
    html {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1440px)
{
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1300px)
{
    .single-project img {
        width: 40rem;
    }
    
    .single-api {
        width: 40rem;
    }

    .info p {
        max-height: 10rem;
    }
    
}

@media only screen and (max-width: 1110px)
{   
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 980px) {
    .individual-project, 
    .individual-project img {
        width: 25rem;
    }
}

@media only screen and (max-width: 937px) {
    .single-project {
        flex-direction: column;
    }

    .api {
        width: unset;
    }

    .single-project__info {
        width: 40rem;
    }

    .middle-nav {
        width: 80%;
    }

    .middle-nav a {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 840px) {
    .individual-project, 
    .individual-project img {
        width: 20rem;
    }
}

@media only screen and (max-width: 700px) {
    .individual-project, 
    .individual-project img {
        width: 15rem;
    }
}

@media only screen and (max-width: 560px) {
    html {
        font-size: 10px;
    }

    .projects__row {
        flex-direction: column;
        align-items: center;
    }

    .individual-project {
        margin-right: 0 !important;
        margin-bottom: 2rem;
    }

    .individual-project, 
    .individual-project img {
        width: 25rem;
    }
}

@media only screen and (max-width: 545px) {
    .individual-project, .individual-project img {
        width: 23rem;
    }
}

@media only screen and (max-width: 425px) {
    .individual-project, 
    .individual-project img {
        width: 25rem;
    }

    .single-project img, 
    .single-project__info {
        width: 33rem;
    }

    .single-api {
        width: 33rem;
    }
}

@media only screen and (max-width: 375px) {
    .individual-project, 
    .individual-project img {
        width: 25rem;
    }
}

@media only screen and (max-width: 343px) {
    .single-project img, 
    .single-project__info {
        width: 30rem;
    }

    .single-api {
        width: 30rem;
    }
}

@media only screen and (max-width: 320px) {
    .individual-project, .individual-project img {
        width: 20rem;
    }
}